@page "/EditGame/{gameId:int}"
@using ThePowerOfKnowledge.Shared.Entities;
@inject HttpClient Http
@inject NavigationManager nav



<h3>EditGame</h3>
@*//בדיקה*@

@if (currentGame != null)
{
    <h3>המשחקים של @(currentGame.GameTopic)</h3>
}

@*תנאי סף וכפתור שמירה*@
<section>

</section>

@*הגדרות משחק כלליות*@
<section>
    @*עושה שגיאההה*@
    <MudTextField @bind-Value="currentGame.GameTopic" Label="נושא המשחק" Variant="Variant.Outlined" HelperText="@currentGame.GameTopic.Length.ToString()"></MudTextField>
</section>
@*תוכן מסיח*@
<section>

</section>
@*טבלת מסיחים*@
<section>

</section>




@code {
    [Parameter]
    public int gameId { get; set; }

    Game currentGame;

    protected async override Task OnInitializedAsync()
    {
        var getResponse = await Http.GetAsync("api/Games/byGameId/" + gameId);
        if (getResponse.IsSuccessStatusCode)
        {
            currentGame = getResponse.Content.ReadFromJsonAsync<Game>().Result;
        }
    }



}
