@page "/GamePage"

@*<h3>GamePage</h3>*@
<div id="GamePage">
    @*//תפריט עליון*@
    <TopManue IsEditPage="false" IsLogInPage="false" UserID="0" GameId="0" IsGamePage="true"></TopManue>

    <MudContainer width="1280">
        <div class="responsiveIframe">
            <iframe src="wintSecoundSemesterForSite.html" title="ThePowerOfKnowledgeGame" frameborder="0" allowfullscreen></iframe>
        </div>
    </MudContainer>
</div>
@code {



}
