@page "/GameTest"





<h3>GameTestPage</h3>



<div id="gameArea" style="">
    @*ה SRC זה השם של הקובץ HTML של האנימייט מיצא שיושב בתוך תקיית WWWroot*@
    <iframe id="gameIframe" src="loadJSON.html" frameBorder="0" allowfullscreen="" width="800" height="800">Browser not compatible.</iframe>
</div>





