@page "/"
@inject HttpClient Http
@inject NavigationManager nav
@inject IDialogService DialogService

<h3>Login</h3>

<MudTextField @bind-Value="inputMail" Label="כתובת מייל" Variant="Variant.Outlined"></MudTextField>
<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="loginUser">כניסה</MudButton>

<p>@msg</p>


@code {
    string inputMail = "";
    string msg = "";
    async Task loginUser()
    {
        if (string.IsNullOrEmpty(inputMail) == false)
        {
            var getResponse = await Http.GetAsync("api/Users/" + inputMail);
            if (getResponse.IsSuccessStatusCode)
            {
                int userId = getResponse.Content.ReadFromJsonAsync<int>().Result;
                nav.NavigateTo("./UserHomeScreen/" + userId);
            }
            else
            {
                string error = getResponse.Content.ReadAsStringAsync().Result;
                if (error == "User not found")
                {
                    msg = "לא נמצא משתמש התואם למייל שהוזן";
                    
                }
                else
                {
                    msg = "החדשות הטובות הן שסוף העולם עוד לא הגיע, החדשות הרעות הן שיש לנו תקלה בשרת. חכה מספר דקות ורענן את העמוד";
                    OpenDialog();
                }
            }
        }
        else
        {
            msg = "יש להקליד כתובת מייל";
            OpenDialog();
        }
    }

    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogOptions disableBackdropClick = new DialogOptions() { DisableBackdropClick = true };
        var parameters = new DialogParameters();
        parameters.Add("ContentText", msg);

        DialogService.Show<ErorDialog>("יוסטון, ווי האב אה פרובלם", parameters, options);

    }




}

