@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


html, body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*הרקע עם הילד והעץ*/
    background-image: url(/Img/background0.png);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
}


    body * {
        font-family: 'Rubik', sans-serif;
    }


a, .btn-link {
    color: #0366d6;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.content {
    padding-top: 1.1rem;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}


.invalid {
    outline: 1px solid red;
}


.validation-message {
    color: red;
}



#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }



/*פופאפ המשתמש וההתנתקות*/
#AvtarDrawer {
    margin-top: 4px;
    position: fixed;
    display: inline-block;
    left: 1px;
    float: inline-start;
}




#navComponent {
    width: 100%;
    display: flex;
    z-index: var(--mud-zindex-appbar);
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;    
}


.mud-appbar {
    width: 100%;
    display: flex;
    z-index: var(--mud-zindex-appbar);
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    color: var(--mud-palette-appbar-text);
    background-color: var(--mud-palette-appbar-background);
    transition: margin 225ms cubic-bezier(0,0,.2,1) 0ms,width 225ms cubic-bezier(0,0,.2,1) 0ms;
    top: 0px;
}


#footer {
    font-size: var(--mud-typography-body1-size);
    font-family: var(--mud-typography-body1-family);
    font-weight: var(--mud-typography-body1-weight);
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    text-transform: var(--mud-typography-body1-text-transform);
    POSITION: RELATIVE;
    COLOR: WHITE;
    top: 340px;
}




/*/**//**//**//**//**//**/

/*כפתור התחברות בדף הראשי*/
.mud-button-filled.mud-button-filled-primary {
    color: var(--mud-palette-primary-text);
    background-color: #513414;
}


/*תיבת הטקסט של ההתחברות בדף הראשי*/
.login-paper {
    width: 350px;
    margin-top: 200px;
    margin-right: 580px;
    margin-left: 550px;
    background: none;
}


/*הלבן שמסביב לכפתור*/
.login-button {
    width:0px;
}


.mud-button-filled.mud-button-filled-primary {
    background-color: #513414;
    margin-right: 700px;
    margin-left: 80px;
    bottom: -10px;
}


.mud-paper {
    color: var(--mud-palette-text-primary);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
}


/*הודעת שגיאה המייל לא מתאים*/
.mud-alert-outlined-error {
    color: var(--mud-palette-error-darken);
    margin-right: 900px;
    width: 270px;
    margin-left: 980px;
}


/*המיקום של הודעת שגיאה המייל לא מתאים*/
.mailLogin {
    margin-right: 490px;
    width: 260px;
    margin-left: 980px;
}


/*הודעת שגיאה שלא הוזן מייל*/
.mud-alert-outlined-warning {
    color: #f44336;
    margin-left: 770px;
    border: none;
}


/*הערה כשלא הוזן מייל*/
.mud-alert-outlined-error {
    border: none;
    padding-right: -800px;
}


/*האייקון של סימן קריאה כשלא הוזן מייל*/
    .mud-alert-outlined-warning .mud-alert-icon {
        color: #f44336;
    }


/*הכיתוב "כתובת מייל"*/
.login-paper .mud-input-label-outlined {
    background-color: transparent;
    top: -10px;
    margin-right: -13px;
}


/*עובי המסגרת וצבע המסגרת בכניסה*/
.mud-input.mud-input-outlined:focus-within .mud-input-outlined-border {
    border-width: 2px;
    border-color: #513414;
}


/*כפתור האבר - צבע ורוד בהיר*/
.mud-button-filled.mud-button-filled-primary:hover, .mud-button-filled.mud-button-filled-primary:focus-visible {
    background-color: #f2b391;
}



/*לא נמצא מייל תואם*/
.mud-alert-outlined-error {
    color: var(--mud-palette-error-darken);
    /* border: 1px solid var(--mud-palette-error); */
}



/*הכתובת מייל בצבע חום אחריי שהתיבת נלחצה והכיתוב עלה למעלה*/
.mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
    color: #513414;
}



/*המסגרת הכחולה ממתחת לשדה הטקסט*/
/*.mud-elevation-1 {
    box-shadow: var(--mud-elevation-1);
    background-color: #8ccfd2;
    border: 2px solid #513414;
    border-radius: 30px;
    height: 120px;
    width: 250px;
}
*/



/*הודעת שגיאה שלא הוזן מייל*/
.mud-alert-outlined-warning {
    color: #f44336;
    margin-left: 770px;
    border: none;
}


/*המסגרת מסביב לכתובת המייל*/
.mud-input.mud-input-outlined .mud-input-outlined-border {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: start;
    pointer-events: none;
    border-radius: var(--mud-default-borderradius);
    border-color: #513414;
    border-width: 2px;
    border-style: solid;
    transition: border-width,border-color 200ms cubic-bezier(.4,0,.2,1) 0ms;
}




/*/**/ /**/ /**/ /**/ /**/ /**/


/*כרטיסיית הפלוס*/
.cardGame1 {
    background-color: #fafafa;
    width: 100px;
    margin: 15px;
    border: 3px solid #513414;
    border-radius: 25px;
    padding: 15px;
}


/*כרטיסיית המשחק*/
.cardGame2 {
    background-color: #fafafa;
    width: 179px;
    margin: 15px;
    border: 3px solid #513414;
    border-radius: 25px;
    padding: 9px;
    margin-top: -114px;
    margin-bottom: 140px;
    margin-right: 150px;
    margin-left: 80px;
}



/*טולבר*/
.mud-toolbar {
    background-color: #eee;
}



/*אייקון של המשתמש בטולבר*/
.mud-avatar-filled.mud-avatar-filled-secondary {
    background-color: #513414;
}


/*אייקון של המשתמש בטולבר - מיקום*/
.mud-avatar.mud-avatar-medium {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    left: 20px;
}


/*הטולבר*/
.mud-typography-body1 {
    font-size: var(--mud-typography-body1-size);
    font-family: 'Rubik', sans-serif;
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    text-transform: var(--mud-typography-body1-text-transform);
}


/*כרטיסיית הכדורים*/
.mud-typography-body2 {
    font-size: var(--mud-typography-body2-size);
    font-family: var(--mud-typography-body2-family);
    font-weight: var(--mud-typography-body2-weight);
    line-height: var(--mud-typography-body2-lineheight);
    letter-spacing: var(--mud-typography-body2-letterspacing);
    text-transform: var(--mud-typography-body2-text-transform);
    font-family: 'Rubik', sans-serif;
}


/*הכותרת "כדורים"*/
.mud-card-header .mud-card-header-content .mud-typography {
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: -20px;
}


/*כל האייקונים*/
/*לבדוק איך אפשר לפרק את כל האייקון משל עצמו*/
.mud-icon-button-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}




/*אייקון עריכת המשחק*/
.editGame {
    color: #513414;
}



/*אייקון מחיקת המשחק*/
.deleteGame {
    color: #513414;
}


/*כפתור הסוויץ'*/
.mud-switch-info.mud-checked + .mud-switch-track {
    background-color: #279D5D;
}



/*העיגול עצמו של כפתור הסוויץ'*/
.mud-switch-info.mud-checked {
    color: #00c853;
}



/*צבע הפלוס*/
.addNewGame {
    color: #513414
}



/*מיקום של האייקונים של המשחק*/
.TheIconsOfTheGame {
    margin-top: -10px;
    margin-right: 20px;
    margin-bottom: -10px;
}


/*קצת ריווח ופונט של מספר מסיחים*/
.mud-typography-body2 {
    font-family: 'Rubik', sans-serif;
    padding: 2px;
}




/*/**/ /**/ /**/ /**/ /**/ /**/
/*עמוד עריכת המשחק*/
/*יישור לימין את מס התווים*/
.mr-auto, .mx-auto {
    margin-right: inherit;
}


/*הבלטה של מס תווים*/
.mr-auto {
    font-weight: bold;
}


/*הבלטה של כמות התווים, המספרים עצמם*/
.ml-auto {
    font-weight: bold;
}


/*כל תיבות הטקסט בעריכת משחק ומשחק חדש*/
/*שקיפות ותזוזה של הטקסט*/
/*שיהיה שקוף ולא לבן מסביב לטקסט*/
.mud-input-control > .mud-input-control-input-container > .mud-input-label-outlined.mud-input-label-inputcontrol {
    line-height: 18px;
    background-color: transparent;
    TOP: -10px;
    margin-right: -10px;
}


/*הכותרות בדף העריכה*/
.mud-typography-h2 {
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
    line-height: var(--mud-typography-h2-lineheight);
    letter-spacing: var(--mud-typography-h2-letterspacing);
    text-transform: var(--mud-typography-h2-text-transform);
    padding: 15px;
    text-indent: -45px;
    font-weight: bold;
}


/*התיבות עצמם בדף העריכה*/
.mud-input-control-input-container {
    left: 20px;
}


/*הכפתור של שמירת ההגדרות משחק*/
.SaveTheGameIcon {
    right: 900px;
    bottom: -30px;
}



/*פריטים מתאימים/פריטים לא מתאימים*/
.mud-typography-h3 {
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: var(--mud-typography-h3-weight);
    line-height: var(--mud-typography-h3-lineheight);
    letter-spacing: var(--mud-typography-h3-letterspacing);
    text-transform: var(--mud-typography-h3-text-transform);
}


/*תפריט הצד - מה עומד בתנאי הסף*/
.mud-nav-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    margin: 20px;
}


/* הטקסט הפנימי - תפריט הצד - מה עומד בתנאי הסף*/
.mud-drawer {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 0 0 auto;
    outline: 0;
    position: fixed;
    z-index: var(--mud-zindex-drawer);
    overflow-y: auto;
    flex-direction: column;
    color: #513414;
    background-color: var(--mud-palette-drawer-background);
    --mud-drawer-content-height: 0;
}

/*הדגשה של הכותרת מה עומד בתנאי הסף*/
.IfTheGame {
    font-weight: bold;
}


/*ה"חזרה לעמוד הבית" בתנאי הסף בצד*/
.mud-navmenu {
    margin: 0;
    position: relative;
    list-style: none;
    overscroll-behavior-y: contain;
    background: transparent;
    height: 56px;
    left: -15px;
}


/*ה"חזרה לעמוד הבית" בתנאי הסף בצד*/
.mud-nav-link {
    width: 100%;
    font-weight: 400;
    padding: 5px 9px;
    color: inherit;
    line-height: 1.75;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: inherit;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 250ms cubic-bezier(.4,0,.2,1) 0ms,border 250ms cubic-bezier(.4,0,.2,1) 0ms,padding 250ms cubic-bezier(.4,0,.2,1) 0ms;
    align-items: flex-start;
    font-weight: bold;
}



/*האייקון של הבית בתפרט*/
    .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon.mud-nav-link-icon-default {
        color: #fafafa;
    }





    /*הכיתוב הלבן בתפריט צד -  חזרה לעמוד הבית*/
    .mud-nav-link .mud-nav-link-text {
        width: 100%;
        text-align: start;
        margin-left: 12px;
        margin-inline-start: 12px;
        margin-inline-end: unset;
        letter-spacing: 0;
        color: #513414;
    }



/*האייקונים של העלת תמונה*/
.mud-icon-button-color-info {
    color: #513414;
}


/*הצ'קבוקס כשהמסיח מתאים*/
.mud-checkbox {
    cursor: pointer;
    display: inline-flex;
    margin-top: -12px;
    margin-right: -330px;
    margin-bottom: 10px
}



/*הכותרת "תפוחים מתאימים" ו"תפוחים לא מתאימים"*/
h3.mud-typography.mud-typography-h3.mud-inherit-text {
    margin-top: 60px;
    margin-right: 25px;
}


/*החץ בצד שגולל כלפיי מעלה בלחיצה*/
.mud-fab-tertiary {
    color: var(--mud-palette-tertiary-text);
    background-color: #513414;
}


/*כפתור "שמירת הגדרות המשחק"*/
.SaveTheGameIcon {
    right: 870px;
    bottom: -20px;
    color: #fafafa;
    background-color: #513414;
}



/*אייקון של כפתור שמירת הגדרות המשחק"*/
.mud-secondary-text {
    color: #f5f5f5 !important;
}



/*כפתור שמירת מסיח*/
.saveSetting {
    color: #f5f5f5;
    background-color: #513414
}


/*הצבע של האייקון שמירת פריט*/
.mud-primary-text {
    color: #f5f5f5 !important;
}



/*האבר של הכפתורים*/
.mud-button-filled:hover, .mud-button-filled:focus-visible {
    background-color: #f2b391;
}


/*האבר של רוב הכפתורים*/
.mud-icon-button:hover, .mud-icon-button:focus-visible {
    background-color: #f2b391;
}



/*כפתור ביטול עריכה*/
.DeleteEdit {
    background: #dc3545;
    color: white;
    right: 20px;
}





.abc {
    border: 5px black;
}




/*השגיאה כשלא מזינים נושא משחק*/
.mud-alert-outlined-warning {
    color: #f44336;
    margin-left: 989px;
    border: none;
}



/*אורך תיבת נושא המשחק*/
.textTopic {
    width: 200px;
}



/*אורך תיבת ההנחייה*/
.textDirective {
    width: 470px;
}




/*אורך תיבת הוספת פריט*/
.newAnswer {
    width: 250px;
}



/*המילה "או" בהוספת פריט*/
.or {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: -315px;
}



/*האייקון של התמונה בהוספת מסיח*/
.updatephoto {
    margin-bottom: 20px;
    margin-right: -450px;
}



/*האייקון של התמונה בהנחייה*/
.updatephoto2 {
    margin-bottom: 20px;
    margin-right: -100px;
}


/*מיקום של הערה אדומה -  יש להזין נושא למשחק*/
.typetopicgame {
    margin-top: -30px;
    margin-bottom: -10px;
    margin-right: -150px;
    margin-left: 1030px;
}


/*מיקום של הערה אדומה - יש להזין טקסט להמשך ההנחייה*/
.typedirective
{
    margin-top: -25px;
    margin-bottom: -15px;
    margin-left: 670px;
}


/*מיקום של הערה אדומה - יש להזין טקסט או תמונה לתוכן הפריט*/
.typeitem {
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 850px;
}


/*מסגרת של התמונה שמקבלים מהמשתמש*/
.theimgfromuser {
    width: 150px;
    background: pink;
    height: 200px;
    margin-right: -10px;
}



/*הקוביות הקטנות בפריטים נכונים*/
.correctAnswer {
    width: 400px;
    margin-right: 5px;
}






/*אייקון עריכה במסיחים מתאימים*/
.edititem {
    color: #513414;
}


/*אייקון מחיקה במסיחים מתאימים*/
.deleteitem {
    color: #513414;
}


/*אייקון עריכה במסיחים לא מתאימים*/
.edititem2 {
    color: #513414;
}


/*אייקון מחיקה במסיחים לא מתאימים*/
.deleteitem2 {
    color: #513414;
}


/*התנאים לסף פרסום של המשחק, התנאים עצמם*/
.GameConditions {
    padding: 25px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 1.7;
}






/*המלבן עצמו של התנאים לסף פרסום*/
.mud-drawer {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 0 0 auto;
    outline: 0;
    position: fixed;
    z-index: var(--mud-zindex-drawer);
    overflow-y: auto;
    flex-direction: column;
    color: #513414;
    background-color: transparent;
    --mud-drawer-content-height: 0;
}



/*המסגרת של תנאי הסף*/
.mud-elevation-1 {
    box-shadow: none;
}


/*אייקון של היציאה מהמשתמש*/
.mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon.mud-nav-link-icon-default {
    color: #513414;
    margin-right: -10px;
}



/*חזרה לעמוד הבית*/
.backToTheHomeScreen {
    background: transparent;
    font-size: 16px;
    border: 2px solid #513414;
    width: 168px;
    border-radius: 10px;
}







/*אייקון ביטול של התמונה*/
/*לבדוק שוב!!!!*/
.deletetheimagefromuser {
    height: 30px;
    margin-right: 40px;
    margin:auto;
}




/*צבע התפריט*/
.mud-icon-button-color-inherit {
    color: #513414;
}



/*צבע הרקע של הצ'קבוקס*/
.NoHover > span:hover {
    background: transparent;
}






/*/**/ /**/ /**/ /**/ /**/ /**/
/*אודות ואיך משחקים*/
/*כפתור בחלונית אודות ואיך משחקים*/
.mud-button-text.mud-button-text-primary {
    color: #fafafa;
    background: #523410;
}


 /*כפתור בחלונית אודות ואיך משחקים האבר*/
.mud-button-text.mud-button-text-primary:hover {
    background: #f2b391;
}












.CheckifCorrect{

}





/*ניסיונות של התמונה*/
.TheImage {
    width: 200px;
    height: 300px;
    object-fit: contain;
}
