@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


html, body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*הרקע עם הילד והעץ*/
    background-image: url('svgWave1.svg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
    background-color: #c1d777;
}

    body * {
        font-family: 'Rubik', sans-serif;
    }


a, .btn-link {
    color: #0366d6;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.content {
    padding-top: 1.1rem;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}


.invalid {
    outline: 1px solid red;
}


.validation-message {
    color: red;
}



#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }



/*פופאפ המשתמש וההתנתקות*/
#AvtarDrawer {
    margin-top: 4px;
    position: fixed;
    display: inline-block;
    left: 1px;
    float: inline-start;
}




#navComponent {
    width: 100%;
    display: flex;
    z-index: var(--mud-zindex-appbar);
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;    
}


.mud-appbar {
    width: 100%;
    display: flex;
    z-index: var(--mud-zindex-appbar);
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    color: var(--mud-palette-appbar-text);
    background-color: var(--mud-palette-appbar-background);
    transition: margin 225ms cubic-bezier(0,0,.2,1) 0ms,width 225ms cubic-bezier(0,0,.2,1) 0ms;
    top: 0px;
}


#footer {
    font-size: var(--mud-typography-body1-size);
    font-family: var(--mud-typography-body1-family);
    font-weight: var(--mud-typography-body1-weight);
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    text-transform: var(--mud-typography-body1-text-transform);
    POSITION: RELATIVE;
    COLOR: WHITE;
    top: 340px;
    background: #523410;
}




/*/**//**//**//**//**//**/

/*כפתור התחברות בדף הראשי*/
.mud-button-filled.mud-button-filled-primary {
    color: var(--mud-palette-primary-text);
    background-color: #513414;
}


/*תיבת הטקסט של ההתחברות בדף הראשי*/
.login-paper {
    width: 350px;    
    position:center;
    margin:auto;
    margin-top: 20%;
/*    margin-right: 580px;
    margin-left: 550px;*/
    background: none;
}

/*//כותרת כניסת עורכים*/
    .login-paper .mud-inherit-text {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
        color: #503317;
    }



/*הלבן שמסביב לכפתור*/
    .login-paper .mud-button-filled.mud-button-filled-primary {
        padding-right: 20px;
        padding-left: 20px;
      /*  position: center;
        margin-left: 0px;
        margin-right: 0px;*/
        margin:auto;
    }


.mud-button-filled.mud-button-filled-primary {
    background-color: #513414;
    margin-right: 700px;
    margin-left: 80px;
    top: 10px;
}


.mud-paper {
    color: var(--mud-palette-text-primary);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
}


/*הודעת שגיאה המייל לא מתאים*/
.login-paper .mud-alert-outlined-error {
    font-size: 18px;
    font-weight: bold;
}



/*הודעת שגיאה שלא הוזן מייל*/
.mud-alert-outlined-warning {
/*    color: #f44336;
    margin-left: 770px;
    border: none;*/
    font-size: 18px;
    font-weight: bold;
    /*position: relative;
    right: 35px;*/
}




/*הערה כשלא הוזן מייל*/
.mud-alert-outlined-error {
    border: none;
    /*padding-right: -800px;*/

}


/*האייקון של סימן קריאה כשלא הוזן מייל*/
.mud-alert-outlined-warning .mud-alert-icon {
    color: #d43b1a;
}


/*הכיתוב "כתובת מייל"*/
.login-paper .mud-input-label-outlined {
    background-color: transparent;
    top: -10px;
    margin-right: -13px;
}


/*עובי המסגרת וצבע המסגרת בכניסה*/
.mud-input.mud-input-outlined:focus-within .mud-input-outlined-border {
    border-width: 2px;
    border-color: #513414;
}


/*כפתור האבר - צבע ורוד בהיר*/
.mud-button-filled.mud-button-filled-primary:hover, .mud-button-filled.mud-button-filled-primary:focus-visible {
    background-color: #f2b391;
}



/*לא נמצא מייל תואם*/
.mud-alert-outlined-error {
    color: #d43b1a;
/*     border: 1px solid var(--mud-palette-error); */
}



/*הכתובת מייל בצבע חום אחריי שהתיבת נלחצה והכיתוב עלה למעלה*/
.mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
    color: #513414;
}



/*המסגרת הכחולה ממתחת לשדה הטקסט*/
/*.mud-elevation-1 {
    box-shadow: var(--mud-elevation-1);
    background-color: #8ccfd2;
    border: 2px solid #513414;
    border-radius: 30px;
    height: 120px;
    width: 250px;
}
*/



/*הודעת שגיאה שלא הוזן מייל*/
.mud-alert-outlined-warning {
    color: #f44336;
    /*margin-left: 500px;*/
    border: none;
}



/*המסגרת מסביב לכתובת המייל*/
.mud-input.mud-input-outlined .mud-input-outlined-border {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: start;
    pointer-events: none;
    border-radius: var(--mud-default-borderradius);
    border-color: #513414;
    border-width: 2px;
    border-style: solid;
    transition: border-width,border-color 200ms cubic-bezier(.4,0,.2,1) 0ms;
}




/*/**/ /**/ /**/ /**/ /**/ /**/


/*כרטיסיית הפלוס*/
.cardGame1 {
    background-color: #fafafa;
    width: 184px;
    margin: 15px;
    border: 3px solid #513414;
    border-radius: 25px;
    padding: 75px;
    display: inline-block;
    position: relative;
    bottom: 91px;
    height: 295px;
}


/*כרטיסיית המשחק*/
.cardGame2 {
    background-color: #fafafa;
    width: 190px;
    margin: 15px;
    border: 3px solid #513414;
    border-radius: 25px;
    padding: 9px;
    display: inline-block;
    position:relative;
    top:47px;
}



/*טולבר*/
.mud-toolbar {
    background-color: #eee;
}



/*אייקון של המשתמש בטולבר*/
.mud-avatar-filled.mud-avatar-filled-secondary {
    background-color: #513414;
}


/*אייקון של המשתמש בטולבר - מיקום*/
.mud-avatar.mud-avatar-medium {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    left: 20px;
}


/*הטולבר*/
.mud-typography-body1 {
    font-size: var(--mud-typography-body1-size);
    font-family: 'Rubik', sans-serif;
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    text-transform: var(--mud-typography-body1-text-transform);
}


/*כרטיסיית הכדורים*/
.mud-typography-body2 {
    font-size: var(--mud-typography-body2-size);
    font-family: var(--mud-typography-body2-family);
    font-weight: var(--mud-typography-body2-weight);
    line-height: var(--mud-typography-body2-lineheight);
    letter-spacing: var(--mud-typography-body2-letterspacing);
    text-transform: var(--mud-typography-body2-text-transform);
    font-family: 'Rubik', sans-serif;
}


/*הכותרת "כדורים"*/
.mud-card-header .mud-card-header-content .mud-typography {
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: -20px;
}


/*כל האייקונים*/
/*לבדוק איך אפשר לפרק את כל האייקון משל עצמו*/
.mud-icon-button-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}




/*אייקון עריכת המשחק*/
.editGame {
    color: #513414;
}



/*אייקון מחיקת המשחק*/
.deleteGame {
    color: #513414;
}


/*כפתור הסוויץ'*/
.mud-switch-info.mud-checked + .mud-switch-track {
    background-color: #279D5D;
}



/*העיגול עצמו של כפתור הסוויץ'*/
.mud-switch-info.mud-checked {
    color: #00c853;
}



/*צבע הפלוס*/
.addNewGame {
    color: #513414;
    position: relative;
    left: 25px;
    top: 10px;
}




/*מיקום של האייקונים של המשחק*/
.TheIconsOfTheGame {
    margin-top: -10px;
    margin-right: 20px;
    margin-bottom: -10px;
}


/*קצת ריווח ופונט של מספר מסיחים*/
.mud-typography-body2 {
    font-family: 'Rubik', sans-serif;
    padding: 2px;
}




/*/**/ /**/ /**/ /**/ /**/ /**/
/*עמוד עריכת המשחק*/
/*יישור לימין את מס התווים*/
.mr-auto, .mx-auto {
    margin-right: inherit;
}


/*הבלטה של מס תווים*/
.mr-auto {
    font-weight: bold;
}


/*הבלטה של כמות התווים, המספרים עצמם*/
.ml-auto {
    font-weight: bold;
}


/*כל תיבות הטקסט בעריכת משחק ומשחק חדש*/
/*שקיפות ותזוזה של הטקסט*/
/*שיהיה שקוף ולא לבן מסביב לטקסט*/
.mud-input-control > .mud-input-control-input-container > .mud-input-label-outlined.mud-input-label-inputcontrol {
    line-height: 18px;
    background-color: transparent;
    TOP: -10px;
    margin-right: -10px;
}


/*הכותרות בדף העריכה*/
.mud-typography-h2 {
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
    line-height: var(--mud-typography-h2-lineheight);
    letter-spacing: var(--mud-typography-h2-letterspacing);
    text-transform: var(--mud-typography-h2-text-transform);
    padding: 15px;
    text-indent: -45px;
    font-weight: bold;
}


/*התיבות עצמם בדף העריכה*/
.mud-input-control-input-container {
    left: 20px;
}


/*הכפתור של שמירת ההגדרות משחק*/
.SaveTheGameIcon {
    right: 915px;
    bottom: -30px;
}




/*פריטים מתאימים/פריטים לא מתאימים*/
.mud-typography-h3 {
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: var(--mud-typography-h3-weight);
    line-height: var(--mud-typography-h3-lineheight);
    letter-spacing: var(--mud-typography-h3-letterspacing);
    text-transform: var(--mud-typography-h3-text-transform);
}


/*תפריט הצד - מה עומד בתנאי הסף*/
.mud-nav-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    margin: 20px;
}


/* הטקסט הפנימי - תפריט הצד - מה עומד בתנאי הסף*/
.mud-drawer {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 0 0 auto;
    outline: 0;
    position: fixed;
    z-index: var(--mud-zindex-drawer);
    overflow-y: auto;
    flex-direction: column;
    color: #513414;
    background-color: var(--mud-palette-drawer-background);
    --mud-drawer-content-height: 0;
}

/*הדגשה של הכותרת מה עומד בתנאי הסף*/
.IfTheGame {
    font-weight: bold;
}


/*ה"חזרה לעמוד הבית" בתנאי הסף בצד*/
.mud-navmenu {
    margin: 0;
    position: relative;
    list-style: none;
    overscroll-behavior-y: contain;
    background: transparent;
    height: 56px;
    left: -15px;
}


/*ה"חזרה לעמוד הבית" בתנאי הסף בצד*/
.mud-nav-link {
    width: 100%;
    font-weight: 400;
    padding: 5px 9px;
    color: inherit;
    line-height: 1.75;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: inherit;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 250ms cubic-bezier(.4,0,.2,1) 0ms,border 250ms cubic-bezier(.4,0,.2,1) 0ms,padding 250ms cubic-bezier(.4,0,.2,1) 0ms;
    align-items: flex-start;
    font-weight: bold;
}



/*האייקון של הבית בתפרט*/
    .mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon.mud-nav-link-icon-default {
        color: #fafafa;
    }





    /*הכיתוב הלבן בתפריט צד -  חזרה לעמוד הבית*/
    .mud-nav-link .mud-nav-link-text {
        width: 100%;
        text-align: start;
        margin-left: 12px;
        margin-inline-start: 12px;
        margin-inline-end: unset;
        letter-spacing: 0;
        color: #513414;
    }



/*האייקונים של העלת תמונה*/
.mud-icon-button-color-info {
    color: #513414;
}


/*הצ'קבוקס כשהמסיח מתאים*/
.mud-checkbox {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    left: 330px;
    bottom: 12px;
}



/*הכותרות "תפוחים מתאימים" ו"תפוחים לא מתאימים"*/
h3.mud-typography.mud-typography-h3.mud-inherit-text {
    margin-top: 20px;
    text-align: center;
}


/*החץ בצד שגולל כלפיי מעלה בלחיצה*/
.mud-fab-tertiary {
    color: var(--mud-palette-tertiary-text);
    background-color: #513414;
}


/*כפתור "שמירת הגדרות המשחק"*/
.SaveTheGameIcon {
    color: #fafafa;
    background-color: #513414;
    position: relative;
    top: 10px;
    left: 100px;
}


/*כפתור שמירת מסיח*/
.saveSetting {
    color: #f5f5f5;
    background-color: #513414;
    position: relative;
    left: 35px;
    bottom: 10px;
}


/*הצבע של האייקון שמירת פריט*/
.mud-primary-text {
    color: #fafafa;
}


/*הצבע של האייקון שמירת הגדרות המשחק*/
.mud-secondary-text {
    color: #fafafa !important;
}




/*האבר של הכפתורים*/
.mud-button-filled:hover, .mud-button-filled:focus-visible {
    background-color: #f2b391;
}


/*האבר של רוב הכפתורים*/
.mud-icon-button:hover, .mud-icon-button:focus-visible {
    background-color: #f2b391;
}



/*כפתור ביטול עריכה*/
.DeleteEdit {
    background: #dc3545;
    color: white;
    position:relative;
    bottom: 10px;
}





.abc {
    border: 5px black;
}




/*השגיאה כשלא מזינים נושא משחק*/
.mud-alert-outlined-warning {
    color: #d43b1a;
    border: none;
    position: relative;
}



/*אורך תיבת נושא המשחק*/
.textTopic {
    width: 200px;
}



/*אורך תיבת ההנחייה*/
.textDirective {
    width: 470px;
    position: relative;
    right: 38px;
}



/*אורך תיבת הוספת פריט*/
.newAnswer {
    width: 250px;
    position: relative;
    right: 5px;
}



/*המילה "או" בהוספת פריט*/
.or {
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 46px;
    font-weight: bold;
    position: relative;
    left: 300px;
    bottom: 5px;
}



/*האייקון של התמונה בהוספת מסיח*/
.updatephoto {
    position: relative;
    left: 410px;
    bottom: 2px;
}



/*האייקון של התמונה בהנחייה*/
.updatephoto2 {
    position: relative;
    left: 80px;
}


/*מיקום של הערה אדומה -  יש להזין נושא למשחק*/
.typetopicgame {
    position: relative;
    bottom: 30px;
    right: -483px;
}


/*מיקום של הערה אדומה - יש להזין טקסט להמשך ההנחייה*/
.typedirective {
    position: relative;
    right: -76px;
    bottom: 15px;
}


/*מיקום של הערה אדומה - יש להזין טקסט או תמונה לתוכן הפריט*/
.typeitem {
    position: relative;
    white-space: nowrap;
    bottom: 5px;
    right: -320px;
}




/*מסגרת של התמונה שמקבלים מהמשתמש*/
.theimgfromuser {
    width: 176px;
    height: 200px;
    margin-right: 40px;
    background: #F2B391;
}



/*אייקון עריכה במסיחים מתאימים*/
.edititem {
    color: #513414;
}


/*אייקון מחיקה במסיחים מתאימים*/
.deleteitem {
    color: #513414;
}


/*אייקון עריכה במסיחים לא מתאימים*/
.edititem2 {
    color: #513414;
}


/*אייקון מחיקה במסיחים לא מתאימים*/
.deleteitem2 {
    color: #513414;
}


/*התנאים לסף פרסום של המשחק, התנאים עצמם*/
.GameConditions {
    padding: 25px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 1.7;
    position:relative;
    bottom:15px;
    left:5px;
    color: black;
}




/*המלבן עצמו של התנאים לסף פרסום*/
.mud-drawer {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 0 0 auto;
    outline: 0;
    position: fixed;
    z-index: var(--mud-zindex-drawer);
    overflow-y: auto;
    flex-direction: column;
    color: #513414;
    background-color: transparent;
    --mud-drawer-content-height: 0;
}



/*המסגרת של תנאי הסף*/
.mud-elevation-1 {
    box-shadow: none;
}


/*אייקון של היציאה מהמשתמש*/
.mud-nav-link:not(.mud-nav-link-disabled) .mud-nav-link-icon.mud-nav-link-icon-default {
    color: #513414;
    margin-right: -10px;
    position:relative;
    right:5px;
    top:1px;
}



/*חזרה לעמוד הבית*/
.backToTheHomeScreen {
    background: transparent;
    font-size: 16px;
    border: 2px solid #513414;
    width: 168px;
    border-radius: 10px;
}



/*אייקון ביטול של התמונה*/
.deletetheimagefromuser {
    position: relative;
    bottom: 160px;
    right: 56px;
}


/*צבע התפריט*/
.mud-icon-button-color-inherit {
    color: #513414;
}



/*צבע הרקע של הצ'קבוקס*/
.NoHover > span:hover {
    background: transparent;
}






/*/**/ /**/ /**/ /**/ /**/ /**/
/*אודות ואיך משחקים*/
/*כפתור בחלונית אודות ואיך משחקים*/
.mud-button-text.mud-button-text-primary {
    color: #fafafa;
    background: #523410;
}


 /*כפתור בחלונית אודות ואיך משחקים האבר*/
.mud-button-text.mud-button-text-primary:hover {
    background: #f2b391;
}










/*/**//**//**//**//**//**//**//**//**//**//**//**/



/*מיקום הכיתוב של איספו בעזרת תנועת חיצים את כל התפוחים שעליהם*/
.CatchTheApple {
    background: transparent;
    position: relative;
    left: 22px;
    white-space: nowrap;
}



/*התמונה בהנחייה*/
.TheImage {
    width: 200px;
    height: 300px;
    object-fit: contain;
    display: flex;
    transform: scale(1,1);
}


/*תת כותרת מספר פריטים בתפוחים המתאימים*/
.numberOfRightItems{
    text-align:center;
}


/*תת כותרת מספר פריטים בתפוחים הלא מתאימים*/
.numberOfWrongItems {
    text-align: center;
}


/*"הכותרת "הוספת פריט*/
.AddItemH2 {
    position: relative;
    left: 22px;
}


/*טבלת המסיחים*/
.TableItems {
    background: transparent;
    border: 4px solid #513414;
    border-radius: 20px;
    padding-bottom: 20px;
}



/*הקוביות הקטנות בפריטים הלא נכונים*/
.WrongAnswers {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 180px;
}



/*הקוביות הקטנות בפריטים הנכונים*/
.correctAnswer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 180px;
}




/*/**//**//**//**//**//**/
/*הi במשחקים*/
.info {
    color: #513414
}

/*צבע האבר של הi במשחקים*/
    .info:hover {
        colo: #F2B391;
    }




/*הטקסט עצמו בהאבר של תנאי הסף בעמוד המשחקים שלי*/
.WhyNotPublic {
    color: white;
}



/*הכותרת בתוך האבר של תנאי הסף בעמוד המשחקים שלי */
.TheGameNotPublic {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    line-height: 1.5;
}



/*טולבר*/
.mud-appbar .mud-toolbar-appbar {
    height: var(--mud-appbar-height);
    position: relative;
}


/*המסיחים בתוך טבלת המסיחים*/
.mud-elevation-1 .mud-card {
    border: 2px solid #523410;
    border-radius: 20px;
}



/*פופאפ רגע זה באמת קורה עכשיו*/
.mud-button-filled.mud-button-filled-warning {
    color: var(--mud-palette-warning-text);
    background-color: #513414;
}



.mud-button-filled.mud-button-filled-warning:hover, .mud-button-filled.mud-button-filled-warning:focus-visible {
        background-color: #f2b391;
    }



.CancelBtn {
    background-color: #dc3545;
    color: white;
}



    .CancelBtn:hover {
        background-color: #e88b94;
    }


/*פופאפ במחיקת משחק בעמוד המשחקים שלי*/
.mud-button-filled.mud-button-filled-error {
    color: var(--mud-palette-error-text);
    background-color: #513414;
}

    /*פופאפ בהאבר במחיקת משחק בעמוד המשחקים שלי*/
    .mud-button-filled.mud-button-filled-error:hover, .mud-button-filled.mud-button-filled-error:focus-visible {
        background-color: #f2b391;
    }



.mud-primary-text {
    color: #fafafa !important;
}



/*כפתור שמוודא מחיקת משחק בעמוד המשחקים שלי*/
.mud-button-filled.mud-button-filled-success {
    color: var(--mud-palette-success-text);
    background-color: #513414;
}



/*כפתור שמוודא מחיקת משחק בעמוד המשחקים שלי בהאבר */
    .mud-button-filled.mud-button-filled-success:hover, .mud-button-filled.mud-button-filled-success:focus-visible {
        background-color: #f2b391;
    }



/*הכותרת "תוכן הפריט" בהוספת פריט כשמוסיפים תמונה */
.TheImgInItems {
    background: #F2B391;
    position: relative;
    width: 250px;
    height: 34px;
    object-fit: contain;
}


/*המסביב לתמונה - הורוד */
.TheWidthOfTheImageItem {
    background: #F2B391;
    width: 250px;
    height: 222px;
    text-align: center;
}


/*הרקע הלבן של התמונה במסיח*/
.CardImage {
    background: transparent;
    position: relative;
    left: 30px;
}


/*המסביב לאייקון של פח אשפה בהוספת תמונה כמסיח*/
.imgimgimg {
    background: transparent;
    position: relative;
    width: 200px;
}


/*מיקום האייקון של פח אשפה בהוספת תמונה כמסיח*/
.DeleteTheimagefromuser2 {
    position: relative;
    bottom: 60px;
    right: 87px;
}


/*השגיאה האדומה שהוזנו מעל 30 מסיחים*/
.NoMoreItems {
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    left: 20px;
}





/*התמונות בתוך המסיחים המתאימים*/
.TheImageimItem1 {
    margin: 0 auto;
    object-fit: contain;
    display: flex
}





/*התמונות בתוך המסיחים הלא מתאימים*/
.TheImageimItem2 {
    margin: 0 auto;
    object-fit: contain;
    display: flex
}




/*האייקונים בתוך המסיחים הלא נכונים*/
.mud-card-actions.IconsInTheWrongAnswers {
    /* display: flex; */
    float: left;
    max-width: 10px;
    /*display: block;*/
    position:relative;
    bottom:-59px;
    left:170px;
}




/*האייקונים בתוך המסיחים הנכונים*/
.mud-card-actions.IconsInTheCorrectAnswers {
    /* display: flex; */
    float: left;
    max-width: 10px;
    /* display: block; */
    /* margin: 60px 21px -52px 144px; */
    position: relative;
    left: 170px;
    top: 60px;
}


/*מה שעוטף את התמונה ואחראי על המיקום שלה בתוך המסיחים הלא נכונים*/
.wrapperTheImg {
    position: relative;
    top: 20px;
    right: 40px;
}


/*התמונות במסיחים עצמם*/
.wrapperTheImg {
    max-height: 60px;
    display: block;
    margin-left: 30px;
    margin-right: 23px;
    /* width: 50%; */
    position: relative;
    /* bottom: -8px; */
    top: 4px;
}



/*אורך תיבת הטקסט בהנחייה כולל תמונה*/
.CountOfWithImg {
    position:relative;
    right: 40px;
    width: 300px;
}



.wrapperTheImg2 {
    max-height: 60px;
    display: block;
    margin-left: 30px;
    margin-right: 38px;
    /* width: 50%; */
    position: relative;
    top: 5px;
    right: 29px;
}


/*אייקון ולוגו האתר*/
.LogoSite {
    font-size: 16px;
    font-family: Rubik;
    margin-right: 6px
}


/*אייקון ולוגו האתר*/
#AppleLogo .mud-button-label {
    width: 200px;
}


/*מרחק קטן מהכיתוב ללוגו עצמו*/
h4#logotext {
    padding: 8px;
}




/*שקפיות של תנאי סף לפרסום המשחק בעריכת משחק*/
.TheBackgroundGameConditions {
    background-color: white;
    opacity: 0.5;
    position: relative;
    top: 20px;
    right: 18px;
    max-width: 240px;
    height: 165px;
    border-radius:15px;
}



/*הכותרת עצמה תנאי הסף לפרסום משחק*/
.TheTitleOfConditions {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    left: 12px;
    bottom: 5px;
    margin-bottom: 5px;
}



/*הפונט, הדגשה ומיקום של המסיחים בטבלת הפריטים המתאימים*/
.CorrectAns {
    font-size: 18px;
    FONT-WEIGHT: BOLD;
    position: relative;
    right: 2px;
    top: 5px;
}



/*הפונט, הדגשה ומיקום של המסיחים בטבלת הפריטים המתאימים*/
.WrongAns{
     font-size: 18px;
    FONT-WEIGHT: BOLD;
    position: relative;
    right: 2px;
    top: 5px;
}



.TheInfoInMyGames{

}



/*הצבע רקע של הI בהאובר בעמוד המשחקים שלי*/
.BgHoverI {
    background-color: #f2b391;
}

/*הכותרת בפופאפ אודות*/
.mud-typography-h6 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: 'Rubik';
}


/*הכיתוב בתוך הפופאפ*/
.About {
    font-size: 20px;
    line-height: 2;
    text-align: center;
}

/*צבע הלינק בחלונית אודות*/
a, .btn-link {
    color: #0000ee;
}



/*הלינק להיכנס לאתר הפקולטה*/
.LinkToHit {
    border-bottom: 2px solid #0000ee;
    /* padding-bottom: 5px; */
    position: relative;
    width: 280px;
    /* text-align: center; */
    right: 300px;
}




.LogoOfHit{
    width:200px;
    height:200px;
}


/*התמונות במסיחים הלא נכונים - אי פגיעה באיכות התמונה*/
.ScaledWrong {
    transform: scale(1);
}


/*התמונות במסיחים הנכונים - אי פגיעה באיכות התמונה*/
.ScaledRight {
    transform: scale(1);
}


/*הערה אדומה - תמונה חורגת בהנחייה*/
.imgTooBig {
    position: relative;
    right: 430px;
}


/*הערה אדומה - תמונה חורגת במסיחים*/
.ImgTooBig2 {
    position: relative;
    left: 400px;
}


/*הטקסט בפוטר*/
..TxtOfTheFooter {
    font-size: 16px;
 /*   position: relative;*/
/*    height: 30px;*/
}


/*פוטר*/
#footer {
    padding: 50px;
    background-color: #503317;
    width: 100%;
    max-width: none;
    top: 0px;
    margin-top: 120px;
    /*position: absolute;*/
    bottom: 0;
    

}

.footer {
    background-color: #503317;
    width: 100%;
  /*  position: absolute;*/
  /*  bottom: 0;*/
}

#footerImg{
background-image: url('kid.svg');
background-repeat:no-repeat;
display:inline-block;
position:absolute;
height:200px;
width:200px;
bottom:50px;
padding-right:95%;
}


/*דברים של אלומה בשביל iframe רספונסיבי*/
.responsiveIframe {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top:40px;
}

    .responsiveIframe iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }

#GamePage{
    width:100%;
    height:100%;
    background-color:white;
    padding-bottom:10%;
}