@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*הרקע עם הילד והעץ*/
    /*background-image: url(/Img/background1.png);*/
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
}


    body * {
        font-family: 'Rubik', sans-serif;
    }


a, .btn-link {
    color: #0366d6;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.content {
    padding-top: 1.1rem;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}


.invalid {
    outline: 1px solid red;
}


.validation-message {
    color: red;
}



#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/*פופאפ המשתמש וההתנתקות*/
#AvtarDrawer {
    margin-top: 4px;
    position: fixed;
    display: inline-block;
    left: 1px;
    float: inline-start;
}


#navComponent {
    width: 100%;
    display: flex;
    z-index: var(--mud-zindex-appbar);
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;    
}


.mud-appbar {
    width: 100%;
    display: flex;
    z-index: var(--mud-zindex-appbar);
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    color: var(--mud-palette-appbar-text);
    background-color: var(--mud-palette-appbar-background);
    transition: margin 225ms cubic-bezier(0,0,.2,1) 0ms,width 225ms cubic-bezier(0,0,.2,1) 0ms;
    top: 0px;
}


#footer {
    font-size: var(--mud-typography-body1-size);
    font-family: var(--mud-typography-body1-family);
    font-weight: var(--mud-typography-body1-weight);
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    text-transform: var(--mud-typography-body1-text-transform);
    POSITION: RELATIVE;
    COLOR: WHITE;
    top: 340px;
}


/*כפתור התחברות בדף הראשי*/
.mud-button-filled.mud-button-filled-primary {
    color: var(--mud-palette-primary-text);
    background-color: #513414;
}


/*תיבת הטקסט של ההתחברות בדף הראשי*/
.login-paper {
    width: 350px;
    margin-top: 200px;
    margin-right: 580px;
    margin-left: 550px;
    background: none;
}


/*הלבן שמסביב לכפתור*/
.login-button {
    width:0px;
}


.mud-button-filled.mud-button-filled-primary {
    background-color: #513414;
    margin-right: 700px;
    margin-left: 80px;
    bottom: -10px;
}



.mud-paper {
    color: var(--mud-palette-text-primary);
    border-radius: var(--mud-default-borderradius);
    transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
}

/*הודעת שגיאה המייל לא מתאים*/
.mud-alert-outlined-error {
    color: var(--mud-palette-error-darken);
    margin-right: 900px;
    width: 270px;
    margin-left: 980px;
}



/*הודעת שגיאה שלא הוזן מייל*/
.mud-alert-outlined-warning {
    color: #f44336;
    margin-left: 770px;
    border: none;
}


/*הערה כשלא הוזן מייל*/
.mud-alert-outlined-error {
    border: none;
    padding-right: -800px;
}



/*האייקון של סימן קריאה כשלא הוזן מייל*/
    .mud-alert-outlined-warning .mud-alert-icon {
        color: #f44336;
    }



/*הכיתוב "כתובת מייל"*/
.login-paper .mud-input-label-outlined {
    background-color: transparent;
    top: -10px;
    margin-right: -13px;
}

/*עובי המסגרת וצבע המסגרת בכניסה*/
.mud-input.mud-input-outlined:focus-within .mud-input-outlined-border {
    border-width: 2px;
    border-color: #513414;
}


/*כפתור האבר - צבע ורוד בהיר*/
.mud-button-filled.mud-button-filled-primary:hover, .mud-button-filled.mud-button-filled-primary:focus-visible {
    background-color: #f2b391;
}

/*לא נמצא מייל תואם*/
.mud-alert-outlined-error {
    color: var(--mud-palette-error-darken);
    /* border: 1px solid var(--mud-palette-error); */
}




/*הכתובת מייל בצבע חום אחריי שהתיבת נלחצה והכיתוב עלה למעלה*/
.mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
    color: #513414;
}




/*המסגרת הכחולה ממתחת לשדה הטקסט*/
/*.mud-elevation-1 {
    box-shadow: var(--mud-elevation-1);
    background-color: #8ccfd2;
    border: 2px solid #513414;
    border-radius: 30px;
    height: 120px;
    width: 250px;
}
*/



/*כשהעברתי הכי למעלה - מופיע אך הכיתוב לא מופיע*/
/*הודעת שגיאה שלא הוזן מייל*/
.mud-alert-outlined-warning {
    color: #f44336;
    margin-left: 770px;
    border: none;
}






































/*כרטיסיית הפלוס*/
.cardGame1 {
    background-color: #fafafa;
    width: 100px;
    margin: 15px;
    border: 3px solid #513414;
    border-radius: 12px;
    padding: 15px;
}


/*כרטיסיית המשחק*/
.cardGame2 {
    background-color: #fafafa;
    width: 170px;
    margin: 15px;
    border: 3px solid #513414;
    border-radius: 12px;
    padding: 5px;
}


/*טולבר*/
.mud-toolbar {
    background-color: #eee;
}


/*אייקון של המשתמש בטולבר*/
.mud-avatar-filled.mud-avatar-filled-secondary {
    background-color: #513414;
}

/*אייקון של המשתמש בטולבר - מיקום*/
.mud-avatar.mud-avatar-medium {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    left: 20px;
}



/*הטולבר*/
.mud-typography-body1 {
    font-size: var(--mud-typography-body1-size);
    font-family: 'Rubik', sans-serif;
    line-height: var(--mud-typography-body1-lineheight);
    letter-spacing: var(--mud-typography-body1-letterspacing);
    text-transform: var(--mud-typography-body1-text-transform);
}







































































/*עמוד הכרטיסיות*/
/*כרטיסיית הכדורים*/
.mud-typography-body2 {
    font-size: var(--mud-typography-body2-size);
    font-family: var(--mud-typography-body2-family);
    font-weight: var(--mud-typography-body2-weight);
    line-height: var(--mud-typography-body2-lineheight);
    letter-spacing: var(--mud-typography-body2-letterspacing);
    text-transform: var(--mud-typography-body2-text-transform);
    font-family: 'Rubik', sans-serif;
}


/*הכותרת "כדורים"*/
.mud-card-header .mud-card-header-content .mud-typography {
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
}


/*כל האייקונים*/
/*אדום בכוונה - לבדוק איך אפשר לפרק את כל האייקון משל עצמו*/
.mud-icon-button-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}





















/*עמוד עריכת המשחק*/
/*קלאס ראשון של נושא המשחק*/
.Edit1 {
    background-color: #f5f5f5;
    height: 56px;
    padding-right: 20px;
}


/*הבלטה של מס תווים*/
.mr-auto {
    font-weight: bold;
}




/*הבלטה של כמות התווים, המספרים עצמם*/
.ml-auto {
    font-weight: bold;
}



/*אורך הקלאס הראשון של נושא המשחק*/
.mud-elevation-1 {
    box-shadow: var(--mud-elevation-1);
    width: 230px;
}



/*כל תיבות הטקסט בעריכת משחק ומשחק חדש*/
/*שקיפות ותזוזה של הטקסט*/
/*שיהיה שקוף ולא לבן מסביב לטקסט*/
.mud-input-control > .mud-input-control-input-container > .mud-input-label-outlined.mud-input-label-inputcontrol {
    line-height: 18px;
    background-color: transparent;
    TOP: -10px;
    margin-right: -10px;
}


/*הכותרות בדף העריכה*/
.mud-typography-h2 {
    font-size: 40px;
    font-family:'Rubik', sans-serif;
    line-height: var(--mud-typography-h2-lineheight);
    letter-spacing: var(--mud-typography-h2-letterspacing);
    text-transform: var(--mud-typography-h2-text-transform);
    padding: 15px;
    text-indent: -45px;
}


/*התיבות עצמם בדף העריכה*/
.mud-input-control-input-container {
    left: 20px;
}



/*הכפתור של שמירת ההגדרות משחק*/
.SaveTheGameIcon {
    right: 900px;
    bottom: -30px;
}



/*פריטים מתאימים/פריטים לא מתאימים*/
.mud-typography-h3 {
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: var(--mud-typography-h3-weight);
    line-height: var(--mud-typography-h3-lineheight);
    letter-spacing: var(--mud-typography-h3-letterspacing);
    text-transform: var(--mud-typography-h3-text-transform);
}



/*תפריט הצד - מה עומד בתנאי הסף*/
.mud-nav-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    margin: 20px;
}


/* הטקסט הפנימי - תפריט הצד - מה עומד בתנאי הסף*/
.mud-drawer {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 0 0 auto;
    outline: 0;
    position: fixed;
    z-index: var(--mud-zindex-drawer);
    overflow-y: auto;
    flex-direction: column;
    color: #513414;
    background-color: var(--mud-palette-drawer-background);
    --mud-drawer-content-height: 0;
}

/*הדגשה של הכותרת מה עומד בתנאי הסף*/
.IfTheGame {
    font-weight: bold;
}


/*ה"חזרה לעמוד הבית" בתנאי הסף בצד*/
.mud-navmenu {
    margin: 0;
    position: relative;
    list-style: none;
    overscroll-behavior-y: contain;
    background: lightpink;
    height: 70px;
}



/*ה"חזרה לעמוד הבית" בתנאי הסף בצד*/
.mud-nav-link {
    width: 100%;
    font-weight: 400;
    padding: 5px 9px;
    color: inherit;
    line-height: 1.75;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: inherit;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 250ms cubic-bezier(.4,0,.2,1) 0ms,border 250ms cubic-bezier(.4,0,.2,1) 0ms,padding 250ms cubic-bezier(.4,0,.2,1) 0ms;
    align-items: flex-start;
    font-weight: bold;
}




/*האייקונים של העלת תמונה*/
.mud-icon-button-color-info {
    color: #513414;
}




/*הצ'קבוקס כשהמסיח מתאים*/
.mud-checkbox {
    cursor: pointer;
    display: inline-flex;
    margin-top: -12px;
    margin-right: -330px;
    margin-bottom: 10px
}



/*הכותרת "תפוחים מתאימים" ו"תפוחים לא מתאימים"*/
h3.mud-typography.mud-typography-h3.mud-inherit-text {
    margin-top: 60px;
    margin-right: 25px;
}



/*החץ בצד שגולל כלפיי מעלה בלחיצה*/
.mud-fab-tertiary {
    color: var(--mud-palette-tertiary-text);
    background-color: #513414;
}