@*חלונית פופ אפ*@
<MudDialog>
    <DialogContent>
        <div class="About">
            <p>אפיון ופיתוח: אלומה אפל ואנסטסיה זולוטוחין </p>
            <p>אופיין ופותח במסגרת פרויקט משותף לקורסים: סביבות לימוד אינטראקטיביות 2, תכנות  2 ואינטראקציה ואנימציה 2 תשפ"ב</p>
            <div class="LinkToHit">  <a href="https://www.hit.ac.il/telem/overview">לינק לפקולטת טכנולוגיות למידה</a> </div>
        </div>
    </DialogContent>
    <DialogActions>        
        <MudButton Color="Color.Primary" OnClick="Submit">הבנתי</MudButton>
    </DialogActions>
</MudDialog>







@code {
    //  פרמטר שמקבל את כל ההגדרות והפרמטרים שנתנו בדף
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    //סגירה
    void Submit() => MudDialog.Cancel();
 

   
 


    
    



}
