@*חלונית פופ אפ*@
<MudDialog>
    <DialogContent>
        <MudContainer width="1280">
            <div class="responsiveIframe1">
                <iframe src="https://www.youtube.com/embed/EbatD-FnuWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit">הבנתי</MudButton>
    </DialogActions>
</MudDialog>







@code {
    //  פרמטר שמקבל את כל ההגדרות והפרמטרים שנתנו בדף
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    //סגירה
    void Submit() => MudDialog.Cancel();

}