@inherits LayoutComponentBase
<MudRTLProvider RightToLeft="true">
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>
        <MudMainContent>
            @Body
            @* פה הירוק הרקע *@
            
        </MudMainContent>
        <footer class="Footerrrr">
            @* פה אנחנו עורכות את הפוטר *@
            <MudContainer id="footer">
                <MudText Class="FooterTxt">
                    <div class="TxtOfTheFooter">  נוצר ע"י אלומה אפל ואנסטסיה זולוטוחין כחלק מפרויקט לתואר ראשון בטכנולוגיות למידה בHIT, 2022. </div>
                </MudText>
            </MudContainer>
        </footer>
        <MudScrollToTop>
            <MudFab Color="Color.Tertiary" Icon="@Icons.Filled.ArrowDropUp" />
        </MudScrollToTop>
    </MudLayout>
</MudRTLProvider>
